@using Application.Concrete
@model List<Agency>

----------------------------------------------
<h1>Agency Tablosu</h1>
    <table cellpadding="2">
   <tr>
    <th>ID</th>
    <th>Code</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th>CreatedDate</th>
    <th>CreatedUser</th>
    <th>UpdatedDate</th>
    <th>UpdateUser</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
@foreach(var item in Model)
{


  <tr>
    <td>@item.Id</td>
    <td>@item.Code</td>
    <td>@item.Name</td>
    <td>@item.Address</td>
    <td>@item.Phone</td>
    <td>@item.Email</td>
    <td>@item.CreatedDate</td>
    <td>@item.CreatedUser</td>
    <td><a href="~/Default/AgencySil/@item.Id"><i class="fas fa-edit"></i>Sil</a></td>
    <td><a href="~/Default/AgencyGetir/@item.Id"><i class="fas fa-edit"></i>Güncelle</a></td>
  </tr>

}
</table>

-----------------------------------------------

@await Html.PartialAsync("/Views/Default/AgencyInsert.cshtml")
